<%- include('./partials/header') -%>

<div class="extra">
<div style = "top:100px; margin: 200px;" class="ui inverted segment">
    <button class="ui inverted red button" >The provided blockchain is tampered</button>
</div>
</div>
<%- include("partials/footer") -%>
