<%- include('./partials/header') -%>

<div style = "top:60px; margin: 100px;" class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      INVALID OPERATION
    </div>
    <p>This transaction is invalid as seller is not the owner of Property
  </p>
</div>

<%- include("partials/footer") -%>
